/* .image-main{
    position: relative;
}
.image-bg-div{
    height: 400px;
    width: 400px;
    background-color: #FFC107;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    position: absolute;
    top: 0;
    left: 0;
} */