span{
font-size: 17px;
}

@media only screen and (max-width: 1024px){
    span{
        font-size:14px ;
    }
}
@media only screen and (max-width: 450px){
    span{
        font-size:12px ;
    }
}
@media only screen and (max-width: 423px){
    span{
        font-size:10px ;
    }
}
@media only screen and (max-width: 390px){
    span{
        font-size:8px ;
    }
}