.product-detail-page{
    max-height: auto;
    min-height: 100vh;
    padding: 50px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 2rem;


}
.product-box{
    display: flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap: wrap;
  
}
.product-box .image{
    max-height: 400px;
    min-height: 200px;
    min-width: 200px;
    max-width: 400px;
    padding: 2rem;

    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out 0.5s;
    overflow: hidden;
}
.product-box .text-box{
    max-height: 400px;
    min-height: 200px;
    min-width: 200px;
    max-width: 400px;
    padding: 2rem;
    

}



@media only screen and (max-width: 512px){
    .product-detail-page{
        height: 120vh;
        /* min-height: 80vh; */
        padding: 50px;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        padding: 2rem;
    
    
    }

    .product-box .image{
        max-height: 300px;
        min-height: 200px;
        min-width: 200px;
        max-width: 300px;
        padding: 2rem;
        /* margin/: 2rem; */
        border-radius: 12px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        transition: all ease-in-out 0.5s;
        overflow: hidden;
    }
    .product-box .text-box{
        /* margin-top: 2rem; */
        max-height: 300px;
        min-height: 200px;
        min-width: 200px;
        max-width: 300px;
        padding: 2rem;
        
        /* text-align: justify; */
    }
}
@media only screen and (max-width: 420px){
    .product-detail-page{
        height: 150vh;
        /* min-height: 80vh; */
        padding: 50px;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        padding: 2rem;
    
    
    }
    .product-box{
        margin-bottom: 100px;
    }

    .product-box .image{
        max-height: 300px;
        min-height: 200px;
        min-width: 200px;
        max-width: 300px;
        padding: 2rem;
        /* margin/: 2rem; */
        border-radius: 12px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        transition: all ease-in-out 0.5s;
        overflow: hidden;
    }
    .product-box .text-box{
        /* margin-top: 2rem; */
        max-height: 300px;
        min-height: 200px;
        min-width: 200px;
        max-width: 300px;
        padding: 2rem;
        
        /* text-align: justify; */
    }
}