.contact-div{
    width: 500px !important;
    height: auto;
    display:  flex;
    flex-direction: center;
    justify-content: center;
    padding-left: 2rem !important;
    margin-top: 3rem !important;
    margin-bottom: 3rem;
    border-radius: 12px;
    
}
label {
    font-size: 20px;
}

.contact-div input{
    width: 350px;
    border: none;
    outline: none;
    border: 0.5px solid #5F6368;
    padding: 5px;
    border-radius: 7px;
    /* background-color: rgb(240, 238, 238); */
    font-size: 20px;   
}


.contact-div textarea {
    width: 400px;
}


@media only screen and (max-width:950px) {
    .contact-div{
        width:450px !important;
    }
    .contact-div input {
        width: 350px !important;
    }
    .contact-div textarea{
        width: 350px !important;
    }
}
@media only screen and (max-width:750px) {
    .contact-div{
        width:380px !important;
    }
    .contact-div input {
        width: 280px !important;
    }
   
    .contact-div textarea{
        width: 280px !important;
    }
}
@media only screen and (max-width:500px) {
    .contact-div{
        width:350px !important;
    }
    .contact-div input {
        width: 250px !important;
    }
   
    .contact-div textarea{
        width: 250px !important;
    }
}
@media only screen and (max-width:400px) {
    .contact-div{
        width:280px !important;
    }
    .contact-div input {
        width: 180px !important;
    }
    .p{
        width: 180px;
    }
    .contact-div textarea{
        width: 180px !important;
    }
}

@media only screen and (max-width:300px) {
    .contact-div{
        width:220px !important;
    }
    .contact-div input {
        width: 170px !important;
    }
    
    .contact-div textarea{
        width: 170px !important;
    }
}