


.product{
    /* margin-top: 2rem; */
    display: flex; 
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
}


.reviews{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
 max-height: auto;
 min-height: auto;
 padding: 20px;


}
.div-reviews{
    width: 300px;
    height: 300px;
    margin: 1rem;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out 0.5s;
    overflow: hidden;
}
.div-reviews:hover{
    transform: scale(1.1);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);

}
.review-text{
    text-align: justify;
}






@media only screen and (max-width: 850px){
   
   
   
    
    
    .btn1{
        width: 6rem;
        height:  2rem;
        padding-bottom: 5px !important;
        font-size: 14px !important;
        /* text-indent: 1px; */

    }
}

@media only screen and (max-width: 770px){
   .product{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   }
   
    
    .div-img{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .div-img img{
height: 400px !important;
width: 500px !important;
    }
    .btn1{
        width: 6rem;
        height:  2rem;
        font-size: 16px !important;
    

    }
}
@media only screen and (max-width:695px){
   
.reviews{
    height: auto;
}
    .btn1{
        width: 6rem;
        height:  2rem;
        font-size: 14px !important;
        text-indent: 1px;

    }
}

@media only screen and (max-width: 536px){
    .product{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
    }
    
    .btn1{
        width: 5rem;
        height:  2rem;
        font-size: 12px !important;

    }

        .div-img{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .div-img img{
    height: 300px !important;
    width: 400px !important;
        }
 }
 
@media only screen and (max-width: 400px){
    .product{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
    }
    
    .btn1{
        width: 5rem;
        height:  1.5rem;
        font-size: 10px !important;
        text-indent: 1px;

    }
   
        .div-img{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .div-img img{
    height: 300px !important;
    width: 300px !important;
        }
 }