.contact-us{
    width: 500px !important;
    height: auto;
    border: none ;
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}
.contact-us input{
    width: 350px;
    border: none;
    outline: none;
    border: 0.5px solid #5F6368;
    font-size: 20px;
    border-radius: 7px;
}
.contact-us textarea {
    width: 350px;
    border: none;
    outline: none;
    border: 0.5px solid #5F6368;
    font-size: 20px;
    border-radius: 7px;
}


@media only screen and (max-width:950px) {
    .contact-us{
        width:450px !important;
    }
    .contact-us input {
        width: 350px !important;
    }
    .contact-us textarea{
        width: 350px !important;
    }
}
@media only screen and (max-width:750px) {
    .contact-us{
        width:380px !important;
    }
    .contact-us input {
        width: 280px !important;
    }
    .contact-us textarea{
        width: 280px !important;
    }
}
@media only screen and (max-width:500px) {
    .contact-us{
        width:350px !important;
    }
    .contact-us input {
        width: 250px !important;
    }
    .contact-us textarea{
        width: 250px !important;
    }
}
@media only screen and (max-width:400px) {
    .contact-us{
        width:280px !important;
    }
    .contact-us input {
        width: 180px !important;
    }
    .contact-us textarea{
        width: 180px !important;
    }
}

@media only screen and (max-width:300px) {
    .contact-us{
        width:220px !important;
    }
    .contact-us input {
        width: 170px !important;
    }
    .contact-us textarea{
        width: 170px !important;
    }
}